body {
    background-image: url("./img/pizza-bg.png");

}
#header {
    color:hsl(39, 83%, 40%);
    text-shadow: 2px 2px #b4b4b4;
    font-family: "Comic Sans",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    background-color: #ffff00;
    width: fit-content;
    margin: auto;
}
h2 {
    display: block;
    margin: auto;
}
img {
    display: block;
    margin: auto;
}
.pizza-box {
    width: fit-content;
    font-family: "Comic Sans",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    font-weight: 800;
    background-color: #ffff00;
    padding: 1em;
    margin: 2em auto;
}
.footer {
    width: fit-content;
    font-family: serif,sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffff00;
    margin: auto;
}